body {
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border: 2px solid black;
}

.library-container {
    display: grid;
    padding: 70px;
    grid-template-columns: repeat(auto-fill, 275px);
    grid-auto-rows: 375px;
    align-items: center;
    justify-items: center;
}
.library-container .add-book {
    height: 70%;
    width: 70%
}
.library-container .add-book svg{
    height: 70%;
    width: 70%;
    
}
.library-container .book-card {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    border: 2px solid black;
}
.library-container .book-card h1 {
    font-size: 50px;
}
.library-container .book-card p {
    font-size: 30px;
}
.library-container .book-card button.read {
    background-color: rgb(88, 232, 124);
}
.library-container .book-card button.unread {
    background-color: rgb(249, 65, 65);
}
.library-container .book-card button.remove-button {
    background-color: rgb(249, 65, 65);
}